﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">cybersource Test</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item justify-content-start px-4">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link justify-content-start" href="checkout" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Checkout</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="aftprocessor" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>AFT Transaction</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="afttokenprocessor" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>AFT Token Transaction</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="cloudposbearer" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Cloud POS</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="simplejson" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Simple JSON</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link justify-content-start" href="unifiedcheckout" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Unified Checkout</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link justify-content-start" href="flexcheckout" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Flex Checkout</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="standalonecredit" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Stand Alone Credit</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="refundform" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Refund with Reference</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="sacheckout" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>SA Checkout</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="tokencreate" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Create Token</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="b2ccustomers" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Get Customers</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="invoicecreate" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Create Invoice</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="pasetupform" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>PA Setup</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="merchantboarding" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Merchant Boarding</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="semiintpossetup" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Semi Int POS Setup</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="semiintpossale" Match="NavLinkMatch.All">
                <span class="bi bi-globe" aria-hidden="true"></span><p>Semi Int POS Sale</p>
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <hr class="my-4">
        </div>
    </nav>
</div>